#voltar{
    z-index: 1001;
    position: absolute;
}
.voltar{
    z-index: 105;
    position: absolute;
    top: 90px;
    left: -10px;
    height: 58px;
    transition:height 1s,transform 2s;
}
.voltar:hover{
    height: 65px;
}

*{
    margin: auto;
    padding: 0px;
}
.cabecalho{
    z-index: 1;
    transition: 0.2s;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center; 
    background-color: cadetblue;
}
#cabecalho{
    z-index: 1;
    margin: auto;
    z-index: 1;
    height: 70px;
    height: 100px;
    background-color: cadetblue;
}


.h1{
    position: absolute;
    left: 0%;
    right: 0%;
}
.titulo-do-produto{
    color: #fff;
    position: absolute;
    left: 54%;
    top: 19%;
    font-size: 300%;
    z-index: 9;
    font-family: heebo;
}
.descricao-do-produto{
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 28%;
    font-size: 233%;
    color: #fff;
    font-family: heebo;
}
.nome{
    color: #fff;
    font-family: heebo;
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 9;
}
.email{
    z-index: 9;
    color: #fff;
    font-family: heebo;
    position: absolute;
    left: 50%;
    top: 48%;

}.adress{
    font-family: heebo;
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 57%;
    color: #fff;
}
.aviso{
    z-index: 9;
    color: #000;
    position: absolute;
    left: 22%;
    top: 78%;
    font-size: 130%;
}
.aviso-2{
    position: absolute;
    left: 46%;
    top: 83%;
    font-size: 123%;
}
.wallet{
    font-family: heebo;
    position: absolute;
    color: #fff;
    left: 33%;
    top: 70%;
    font-size: 112%;
    z-index: 9;
}
.verify-payment{
    font-family: heebo;
    z-index: 9;
    position: absolute;
    left: 77%;
    height: 5%;
    width: 10%;
    top: 58%;
    border-radius: 104px;
    transition:height 1s,transform 1s;
}
.verify-payment:hover{
    background-color: rgb(90, 90, 90);
    transform: scale(1.1);
    transition: all 0.5s;
    font-size: 15px;
}

.fundo-1{
    position: absolute;
    background-color: black;
    top: 89px;
    left: 0%;
    height: 507px;
    width: 1440px;
    z-index: 1;
}
.fundo-2{
    position: absolute;
    background-color: rgba(34, 34, 34, 0.774);
    top: 49px;
    left: 65px;
    height: 73%;
    width: 93%;
    border-radius: 20px;
    z-index: -1;
}
.fundo-3{
    border-radius: 20px;
    z-index: -1;
    background-color: rgb(179 179 179 / 47%);
    height: 55%;
    width: 21%;
    position: absolute;
    top: 17%;
    left: 96px;
}
.e-1{
    position: absolute;
    top: 139px;
    left: 152px;
    height: 180px;
    width: 180px;
}
.preço{
    z-index: 9;
    font-family: heebo;
    position: absolute;
    color: #fff;
    top: 54%;
    left: 1110px;

}

@font-face {
    font-family:'america';
    src: url(/font/American\ Captain.otf);
}
@font-face {
    font-family:'heebo';
    src: url(/font/Heebo-VariableFont_wght.ttf);
}






























